@model AdminRegistrationModel;

@section Styles {
    <link rel="stylesheet" href="~/css/ud_Layout.css" asp-append-version="true" />
}



<div class="outer">
    <div class="login-container registration-container">
        <div class="row">
            <div class="col-12">
                <form id="registerform" class="form">
                    <p class="title">  Registeration</p>
                    <p class="message">Register now and get full access to our web app.</p>
                    <div class="input-group">
                        <label>
                            <span>AdminN</span>
                            <input id="AdminName" required="" placeholder="AdminName.." type="text" class="input">
                        </label>
                    </div>
                    <div class="input-group">
                        <label>
                            <span>Password</span>
                            <input id="Password" required="" placeholder="Password.." type="password" class="input">
                        </label>
                    </div>
                    <button type="button" id="registerBtn" class="btn btn-success submit" onclick="Register();">Sign Up</button>
                    <p class="signin">Already have an account? <a asp-controller="Login" asp-action="Login">Login</a></p>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function Register() {
        debugger;

        var oModel = {
            AdminName: $('#AdminName').val(),
            Password: $('#Password').val(),
        }

        $.ajax({
            type: "POST",
            url: "/Admin/RegisterPost",
            data: JSON.stringify(oModel),
            contentType: "application/json",
            dataType: 'json',
            success: function (response) {
                if (response.status === "success") {
                    alert(response.message);
                 // window.location.href = "/Login/Login"; // Redirect to login page
                } else if (response.status === "warning") {
                    alert(response.message);
                }
            },
            error: function (error) {
                console.error("Error registering user:", error);
            }
        });
    }
</script>